body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #f7f7f7;
    margin: 0;
}

.search {
    display: flex;
    align-items: center;
    border: 2px solid #ccc;
    padding: 5px 15px;
    border-radius: 30px;
    background-color: #fff;
    transition: all 0.3s ease-in-out;
}

.search.active {
    border-color: #007bff;
    background-color: #f0f8ff;
}

.input {
    border: none;
    outline: none;
    padding: 8px;
    font-size: 16px;
    border-radius: 20px;
    margin-right: 10px;
    width: 200px;
    transition: width 0.3s ease-in-out; /* Smooth transition for width */
}

.input:focus {
    outline: none;
    border-color: #007bff;
}

.input.active {
    width: 300px; 
}

.btn {
    background-color: #007bff;
    color: white;
    padding: 8px 15px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.btn:hover {
    background-color: #0056b3;
}



